*{
    margin: 0;
    padding: 0;
}
body{
  font-size: 18px;
  font-family: "outfit", sans-serif;
  
  position: relative;
}
.container{
  
  min-width: 1440px;
  height: 100vh;
  background-color: hsl(217, 54%, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.card{
  width: 220px;
  height: 390px;
  border: 1px solid white;
  background-color: rgb(20, 37, 61);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 9px 12px hsl(216deg 100% 7.55%)
}
.card img{
  width: 100%;
  border-radius: 5px;
}
.card h2{
  color: white;
  font-size: 1rem;
}
.card p{
  color: hsl(215, 51%, 70%);
  font-size: .8rem;
}
.list1{
  background-color: white;
}
.eth{
  font-size: .8rem;
  color: hsl(178, 100%, 50%);
}
.fa-clock{
  margin-right: 5px;
}
.fa-ethereum{
  margin-right: 5px;
}
.days{
  margin-left: 70px;
  font-size: .8rem;
  color: hsl(215, 51%, 70%);
}
.ruler{
  margin-top: 15px;
  opacity: 10%;
}
ul{
  display: flex;
  align-items: center;
  padding: 0;
  
  font-size: .6rem;
  list-style-type: none;
  display: flex;
  
}
.avatar{
  width: 18px;
  margin-right: 15px;
}
.creation{
  color: white;
  margin-right: 5px
}
.jules{
  color: hsl(215, 51%, 70%);
 
}
.attribution { 
    font-size: 11px; text-align: center;
    
    justify-content: center;
    align-items: center;
}
.attribution a { color: hsl(228, 45%, 44%); }
.footer{
    
    position: absolute;
    bottom: 1px;
    left: 46%;
}
